
<div class="wrapper_footer">
	<a href="#">
		<img class="logo" alt="logo" src="./asset/img/logo.jpg" />
	</a>
	<div class="wrapper_footer-item">
		<span>Danh mục món ăn</span>
		<a class="footer_item" href="">Món 1</a>
		<a class="footer_item" href="">Món 1</a>
		<a class="footer_item" href="">Món 1</a>
		<a class="footer_item" href="">Món 1</a>
		<a class="footer_item" href="">Món 1</a>
		<a class="footer_item" href="">Món 1</a>
	</div>
	<div class="wrapper_footer-item">
		<span>Liên hệ</span>
		<a class="footer_item" href="">Đơn hàng</a>
		<a class="footer_item" href="">Hệ thống nhà hàng</a>
		<a class="footer_item" href="">Liên hệ</a>
	</div>
	<div class="wrapper_footer-item">
		<span>Chính sách</span>
		<a class="footer_item" href="">Chính sách hoạt động</a>
		<a class="footer_item" href="">Chính sách và quy định</a>
	</div>
	<div class="wrapper_footer-item">
		<a class="footer_item" href="#"><i class='bx bxl-facebook'></i></a>
        <a class="footer_item" href="#"><i class='bx bxl-twitter'></i></a>
        <a class="footer_item" href="#"><i class='bx bxl-tiktok'></i></a>
        <a class="footer_item" href="#"><i class='bx bxl-instagram'></i></a>
	</div>
</div>
    <!-- copyright -->
<div class="copyright">
   <p>&#169;Copyright © 2023 KFC Vietnam</p>
</div>
