<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="TinTuc-All.css">
    <title>Tin Tức</title>
</head>
<body>
    <div>
        <!-- header  --> 
    </div>

    <div class="img">
        <img  src="img/our-story.jpg" alt="" style="width: 100%;">
    </div>

    <div class="content">
        <div class="content1">
            <a href="TinTuc-01.html"><img src="img/content1.jpg" alt="" style="width: 100%;"></a>
            <a href="TinTuc-01.html"><h2 class="text-h2">Thanh đẹp trai vừa khánh thành cầu 25 m tại Cà Mau</h2></a>
            <div class="calendar">               
                <img src="img/calendar.svg" alt="">
                <span class="text-calendar">11/03/2023</span> 
            </div>
            <a href="TinTuc-01.html"><button class="btn" >XEM THÊM</button></a>
        </div>
        <div class="content1">
            <a href="TinTuc-01.html"><img src="img/content1.jpg" alt="" style="width: 100%;"></a>
            <a href="TinTuc-01.html"><h2 class="text-h2">Thanh đẹp trai vừa khánh thành cầu 25 m tại Cà Mau</h2></a>
            <div class="calendar">               
                <img src="img/calendar.svg" alt="">
                <span class="text-calendar">11/03/2023</span> 
            </div>
            <a href="TinTuc-01.html"><button class="btn" >XEM THÊM</button></a>
        </div>
        <div class="content1">
            <a href="TinTuc-01.html"><img src="img/content1.jpg" alt="" style="width: 100%;"></a>
            <a href="TinTuc-01.html"><h2 class="text-h2">Thanh đẹp trai vừa khánh thành cầu 25 m tại Cà Mau</h2></a>
            <div class="calendar">               
                <img src="img/calendar.svg" alt="">
                <span class="text-calendar">11/03/2023</span> 
            </div>
            <a href="TinTuc-01.html"><button class="btn" >XEM THÊM</button></a>
        </div>
        <div class="content1">
            <a href="TinTuc-01.html"><img src="img/content1.jpg" alt="" style="width: 100%;"></a>
            <a href="TinTuc-01.html"><h2 class="text-h2">Thanh đẹp trai vừa khánh thành cầu 25 m tại Cà Mau</h2></a>
            <div class="calendar">               
                <img src="img/calendar.svg" alt="">
                <span class="text-calendar">11/03/2023</span> 
            </div>
            <a href="TinTuc-01.html"><button class="btn" >XEM THÊM</button></a>
        </div>  
        
    </div> 

    <div>
        <!-- footer  --> 
    </div>
</body>
</html>