<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Add-Category-food.css">
    <title>ADD CATEGORY FOOD</title>
</head>
<body>
    
    <div> <!-- body -->
        <div class="body-left">
            <h2>ADMIN PANEL</h2>
            <ul>
                <a href="Admin.html"><li><img src="img/dashboard_icon.png" alt="" style="width: 10px;"> Dashboard</li></a>
                <a href="Add-poster.html"><li><img src="img/plus.png" alt="" style="width: 10px;color: black;"> Add Poster</li></a>
                <a href="Add-Category-food.html"><li><img src="img/plus.png" alt="" style="width: 10px;"> Add Category Food</li></a>
                <a href="Add-Food.html"><li><img src="img/plus.png" alt="" style="width: 10px;"> Add Food</li></a>
                <a href="Add-News.html"><li><img src="img/plus.png" alt="" style="width: 10px;"> Add News</li></a>
                <li id="order"><img src="img/manager-icon.png" alt="" style="width: 10px;" > <a href="">Order management</a>
                    <ul class="menu-dacap">
                        <li><img src="img/manager-icon.png" alt="" style="width: 10px;" ><a href="Order-management-party.html">Party</a></li>
                        <li><img src="img/manager-icon.png" alt="" style="width: 10px;" ><a href="Order-management-order.html">Oder</a></li>
                    </ul>
                </li>
                <a href="User-management.html"><li><img src="img/manager-icon.png" alt="" style="width: 10px;"> User management</li></a>
            </ul>
        </div>

        <div class="body-right">
            <div class=" header">
                <img src="img/logo.png" alt="" style="width: 100px;">
            </div>
            <div class="body">
                <div class="content">
                    <div class="content-left">
                        <p>Select the image:</p>
                        <p>Enter the name of the category:</p>
                        <p>Show the extra lists:</p>
                    </div>
                    <div class="content-right">
                        <p><input type="file" id="file-input"> </p>
                        <p><select>
                            <option value="Goodwill">Goodwill</option>
                            <option value="New-food">New food</option>
                            <option value="Combo-1-person">Combo 1 person</option>
                            <option value="Group-combo">Group combo</option>
                            <option value="Fried-chicken-Roastedchicken">Fried chicken - Roasted chicken</option>
                            <option value="Burger-Rice-Noodles">Burger - Rice - Noodles</option>
                            <option value="Snacks">Snacks</option>
                            <option value="Drinks-Dessert">Drinks - Dessert</option>
                        </select></p>
                    </div>
                    
                </div>
                <div class="bnt">
                    <center><button class="Add-bnt">ADD</button></center>
                </div>

            </div>
        </div>
    </div>

    
</body>
</html>