<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Admin.css">
    <title>ADMIN</title>
</head>
<body>
    
    <div> <!-- body -->
        <div class="body-left">
            <h2>ADMIN PANEL</h2>
            <ul>
                <a href="Admin.html"><li><img src="img/dashboard_icon.png" alt="" style="width: 10px;"> Dashboard</li></a>
                <a href="Add-poster.html"><li><img src="img/plus.png" alt="" style="width: 10px;color: black;"> Add Poster</li></a>
                <a href="Add-Category-food.html"><li><img src="img/plus.png" alt="" style="width: 10px;"> Add Category Food</li></a>
                <a href="Add-Food.html"><li><img src="img/plus.png" alt="" style="width: 10px;"> Add Food</li></a>
                <a href="Add-News.html"><li><img src="img/plus.png" alt="" style="width: 10px;"> Add News</li></a>
                <li id="order"><img src="img/manager-icon.png" alt="" style="width: 10px;" > <a href="">Order management</a>
                    <ul class="menu-dacap">
                        <li><img src="img/manager-icon.png" alt="" style="width: 10px;" ><a href="Order-management-party.html">Party</a></li>
                        <li><img src="img/manager-icon.png" alt="" style="width: 10px;" ><a href="Order-management-order.html">Oder</a></li>
                    </ul>
                </li>
                <a href="User-management.html"><li><img src="img/manager-icon.png" alt="" style="width: 10px;"> User management</li></a>
            </ul>
        </div>

        <div class="body-right">
            <div class=" header">
                <img src="img/logo.png" alt="" style="width: 100px;">
            </div>
            <div class="body">
                <center><img src="img/admin.png" alt="" style="width: 400px;"></center>
                <h2>Welcome to the management page, choose the activities you want to be on the left of the screen.</h2>
            </div>
        </div>
    </div>

    
</body>
</html>