<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Order-management-party.css">
    <title>Party management</title>
</head>
<body>
    
    <div> <!-- body -->
        <div class="body-left">
            <h2>ADMIN PANEL</h2>
            <ul class="menu">               
                <a href="Admin.html"><li><img src="img/dashboard_icon.png" alt="" style="width: 10px;"> Dashboard</li></a>
                <a href="Add-poster.html"><li><img src="img/plus.png" alt="" style="width: 10px;color: black;"> Add Poster</li></a>
                <a href="Add-Category-food.html"><li><img src="img/plus.png" alt="" style="width: 10px;"> Add Category Food</li></a>
                <a href="Add-Food.html"><li><img src="img/plus.png" alt="" style="width: 10px;"> Add Food</li></a>
                <a href="Add-News.html"><li><img src="img/plus.png" alt="" style="width: 10px;"> Add News</li></a>
                <li id="order"><img src="img/manager-icon.png" alt="" style="width: 10px;" > <a href="">Order management</a>
                    <ul class="menu-dacap">
                        <li><img src="img/manager-icon.png" alt="" style="width: 10px;" ><a href="Order-management-party.html">Party</a></li>
                        <li><img src="img/manager-icon.png" alt="" style="width: 10px;" ><a href="Order-management-order.html">Oder</a></li>
                    </ul>
                </li>
                <a href="User-management.html"><li><img src="img/manager-icon.png" alt="" style="width: 10px;"> User management</li></a>
            </ul>
        </div>

        <div class="body-right">
            <div class=" header">
                <img src="img/logo.png" alt="" style="width: 100px;">
            </div>
            <div class="body">
                <div class="content">
                    <div class="content-left">
                        <p>Name of the person:</p>
                        <p>Phone number:</p>
                        <p>Email:</p>
                        <p>Organization address:</p>  
                        <p>Banquet date:</p> 
                        <p>Feast type:</p> 
                        <p>Number of participants:</p>                     
                    </div>

                    <div class="content-right">
                        <p><input type="text" name="name" placeholder="name"></p>
                        <p><input type="number" name="phone-number" placeholder="phone number"></p>
                        <p><input type="text" name="email" placeholder="email"></p>
                        <p><input type="text" name="address" placeholder="address"></p>
                        <p><input type="date" name="date" placeholder="date"></p>
                        <p><input type="text" name="type" placeholder="type"></p>
                        <p><input type="number" name="number-of-partycipants" placeholder="number of participants"></p>
                    </div>
                    
                </div>
                <div class="bnt">
                    <center><button class="Add-bnt">Update</button></center>
                </div>

            </div>
        </div>
    </div>

    
</body>
</html>