<!DOCTYPE html>


        <main>
            <section>
                <div class="content-left">
                    <img src="img/logo.png" alt="">
                    <h2 >XIN CHÀO !!!</h2>
                    <h3 ><u><a style="color: #fff;" href="">Đăng xuất</a></u></h3> 
                    
                        <h4><a href="">Đơn hàng đã đặt</a> </h4>
                        <h4><a href="">Đơn hàng yêu thích</a> </h4>
                        <h4><a href="">Địa chỉ của bạn</a> </h4>
                        <h4><a href="">Chi tiết tài khoản</a> </h4>
                        <h4><a style="color: #fff;">Đặt lại mật khẩu</a> </h4>
                        <h4><a href="">Xóa tài khoản</a> </h4>
                    
                </div>
                
                <div class="content-right">
                    <h2>CHI TIẾT TÀI KHOẢN</h2>
                    <form action="#">
                    
                        <div class="form-group">
                            <label for="họ và tên">Họ và tên</label> <br>
                            <input type="text" id="ho-ten" required>
                        </div>
                    
                        <div class="form-group">
                            <label for="số điện thoại">Số điện thoại</label> <br>
                            <input type="number" id="sdt" required>                
                        </div>
      
                        <div class="form-group">
                            <label for="Email">Email</label> <br>
                            <input type="text" id="Email" required>
                        </div>
                        <div class="form-group">
                            <span>Giới tính</span> <br>
                            <select>                           
                                <option value="male">Nam</option>
                                <option value="female">Nữ</option>
                            </select>
                        </div>
                          

                        <div class="form-group">                        
                            <label for="ngày">Ngày sinh</label><br>
                            <input type="date" id="ngày" required>                         
                        </div> 
                                    
                        <div style="padding-top: 30px;">
                            <center><button class="btn-datngay" id="datngay">Cập nhật tài khoản</button></center>
                        </div>            
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>