<!DOCTYPE html>
<!DOCTYPE html>
<div class="wrapper_loginOrSignUp">
	<img src="./asset/img/signin.jpg" alt="signIn" class="img_login"/>
	<div class="form">
		<form method="POST" class="form_account">
			<label class="label_account">login</label>
			<div class="label-form_account">
				<label id="" for="" class="label_input">Email:</label>
				<input type="text" id="" class="input-form_account" placeholder="Enter your email..." name="" required/>
			</div>
			<div class="label-form_account">
				<label id="" for="" class="label_input">Password:</label>
				<input type="password" id="" class="input-form_account" placeholder="Enter your password..." name="" required/>
			</div>
			<p class="forgot_pwd font-form_account"><a href="">Forgot Your Password?</a></p>
			<button type="submit" class="button_account" name="">Login</button>
			<p class="font-form_account font-signin">Haven’t got an account? <a href="" class="">Sign Up</a></p>
		</form>
	</div>
</div>