<!DOCTYPE html>
<!DOCTYPE html>
<link href="./asset/css/content.css" rel="stylesheet">
<link href="./asset/css/login.css" rel="stylesheet">
<div class="wrapper_loginOrSignUp">
	<img src="./asset/img/signin.jpg" alt="signUp" class="img_login"/>
	<div class="form">
		<form method="POST" class="form_account">
			<label class="label_account">CREATE YOUR ACCOUNT</label>
			<div class="label-form_account">
				<label id="" for="" class="label_input">First Name:</label>
				<input type="text" id="" class="input-form_account" placeholder="Enter your first name..." name="" required/>
			</div>
			<div class="label-form_account">
				<label id="" for="" class="label_input">Last Name:</label>
				<input type="text" id="" class="input-form_account" placeholder="Enter your last name..." name="" required/>
			</div>
			<div class="label-form_account">
				<label id="" for="" class="label_input">Phone Number:</label>
				<input type="text" id="" class="input-form_account" placeholder="Enter your phone number..." name="" required/>
			</div>
			<div class="label-form_account">
				<label id="" for="" class="label_input">Email:</label>
				<input type="text" id="" class="input-form_account" placeholder="Enter your email..." name="" required/>
			</div>
			<div class="label-form_account">
				<label id="" for="" class="label_input">Password:</label>
				<input type="password" id="" class="input-form_account" placeholder="Enter your password..." name="" required/>
			</div>
			<p class=" font-form_account"><input type="checkbox"/>I have read and accepted with Operation Policy and Policy on Information Confidentiality</p>
			<button type="submit" class="button_account_signup" name="">Create My Account</button>
			<p class="font-form_account font-signin">Already have an account? <a href="" class="">Sign In</a></p>
		</form>
	</div>
</div>