/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page layout */
.wrapper_book {
    margin-top: 120px;
}

/* Heading styles */
h1, h2, h3 {
    font-size: 24px;
    font-weight: bold;
}

/* Button styles */
.btn-box {
    display: flex;
    border-bottom: 1px solid #ccc;
    width: 800px;
    margin: auto;
}

.btn-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 15px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #949494;
}

.btn-box button:hover {
    border-bottom: 1px solid red;
}

#btn-left {
    color: #000;
}

.btn-datngay {
    background-color: red;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin: 5px;
    width: 120px;
    height: 30px;
    display: block;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}

/* Content styles */
.content {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.content-all {
    position: absolute;
    justify-content: center;
    transform: translateX(350%);
}

#content-left {
    transform: translateX(44%);
}

.menu {
    background-color: #f2f2f2;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.menu_list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_list-img {
    width: 100%;
    border-radius: 5px;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

p {
    margin-bottom: 5px;
    color: #000;
}

.book_party {
    background-color: #f2f2f2;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
    width: 550px;
    padding-left: 100px;
    margin-top: 30px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.btn {
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
