.wrapper_content{
    height: auto;
    margin-bottom: 100px;
}
*{
    scroll-behavior: smooth;
    text-decoration: none;
}

/* custom scroll bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: #ccc;
}
html::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 5rem;
}
/* swiper */
.content_swiper {
      position: relative;
      height: 600px;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .customBtn{
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        height: 40px;
    }
/* sidebar item */
.food{
    margin-top: 50px;
}
.heading{
    margin-top: 50px;
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;

}
.food-container{
    max-width: 976px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box{
    
    height: 320px;
    padding: 10px;
    box-shadow:  1px 1px 5px 5px rgb(220, 220, 220);
}
.box .box-img{
    width: 100%;
    height: 260px;
    cursor: pointer;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.box .box-img img:hover{
    transform: scale(1);
    transition: all .7s;
    width: 99%;
    height: 95.99%;
}
.box_price_title{
    display: flex;
    justify-content: space-between;
}
.content_product{
    font-size: 13px;
}
